
.auth_container{
  background-image: url('@/assets/login_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.auth-wrapper {
  display: flex;
  min-height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  flex-basis: 100%;
  align-items: center;

  &.auth-v1{
    align-items:center;
    justify-content: center;
    overflow: hidden;
    padding:1.5rem;
    height:600px;
  }

  .auth-inner {
    width:18rem;
    z-index:1;
    .auth-card{
      padding:0.9375rem 0.875rem;
    }
  }
  .auth-card{
    border-radius: 41px 0px 0px 41px;
    height:600px;
  }

  .auth-bg{
    background-image:url('@/assets/login_bg.png');
    background-repeat: no-repeat;
    background-size:cover;

    width:415px;
    height:600px;
    border-radius:0 41px 41px 0;
  }
}
