@import "common/color.scss";
@import "common/font.scss";

@import "common/buttons.scss";


@font-face {
  font-family: "SUIT";
}

.v-application {
  font-family: SUIT, serif;
}

.v-card{
  border:1px solid #d2d2d2 !important;
  border-radius: 0px !important;
}

.scroll::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}

/* background of the scrollbar except button or resizer */
.scroll::-webkit-scrollbar-track {
  background-color: #fff;
}

/* scrollbar itself */
.scroll::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
.scroll::-webkit-scrollbar-button {
  display:none;
}


$text-field-filled-full-width-outlined-single-line-slot-min-height: 30px !default;
$text-field-solo-dense-control-min-height: 20px!default;
