$dark-indigo: #15114a;
$dark-blue-grey: #242956;
$cornflower: #6573f0;
$pale-lilac: #e4e7ff;
$pale-grey: #f1f4f8;
$warm-grey: #707070;
$light-gray: #d2d2d2;
$lavender: #aeb5f2;
$sun-yellow: #ffd93d;
$soft-green: #6bcb77;
$salmon: #ff6b6b;
$white: #fff;
$light-navy-blue: #2c347a;
$black-opacity: rgba(0, 0, 0, 0.3);
$dark-blue: #00095e;

.dark-indigo {
  color: $dark-indigo !important;
}

.dark-blue-grey {
  color: $dark-blue-grey !important;
}

.cornflower {
  color: $cornflower !important;
}

.pale-lilac {
  color: $pale-lilac !important;
}

.pale-grey {
  color: $pale-grey !important;
}

.warm-grey {
  color: $warm-grey !important;
}

.light-gray {
  color: $light-gray !important;
}

.lavender {
  color: $lavender !important;
}

.sun-yellow {
  color: $sun-yellow !important;
}

.soft-green {
  color: $soft-green !important;
}

.salmon {
  color: $salmon !important;
}

.white {
  color: $white !important;
}

.light-navy-blue {
  color: $light-navy-blue !important;
}

.black-opacity {
  color: $black-opacity !important;
}


.bg-dark-indigo {
  background-color: $dark-indigo !important;
}

.bg-dark-blue-grey {
  background-color: $dark-blue-grey !important;
}

.bg-cornflower {
  background-color: $cornflower !important;
}

.bg-pale-lilac {
  background-color: $pale-lilac !important;
}

.bg-pale-grey {
  background-color: $pale-grey !important;
}

.bg-warm-grey {
  background-color: $warm-grey !important;
}

.bg-light-gray {
  background-color: $light-gray !important;
}

.bg-lavender {
  background-color: $lavender !important;
}

.bg-sun-yellow {
  background-color: $sun-yellow !important;
}

.bg-soft-green {
  background-color: $soft-green !important;
}

.bg-salmon {
  background-color: $salmon !important;
}

.bg-white {
  background-color: $white !important;
}

.bg-light-navy-blue {
  background-color: $light-navy-blue !important;
}

.bg-black-opacity {
  background-color: $black-opacity !important;
}

.bg-dark-blue{
  background-color: $dark-blue !important;
}
